body {
    background-color:rgb(217, 205, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#calculator {
    width: 300px;
    border: 5px solid #34829c;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 100 100 100px rgba(100, 100, 100, 100.1);
}

#display {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 3px solid #34829c;
    border-radius: 15px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color:darkgray;
}